.qo-preview {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  top: 0;
  left: 0;
  z-index: 30000;
  &__header {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    padding: 10px 24px;
    display: flex;

    .qo-preview--left {
      font-size: 20px;
      line-height: 36px;
      color: #000000;
      opacity: 0.8;
      flex: 1;
    }

    .qo-preview--right {
      flex-basis: 80px;
      text-align: center;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      font-size: 14px;
      line-height: 20px;
      padding: 8px 0;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.8);

      &:hover {
        border-color: #3a8ee6;
      }
    }
  }

  &__main {
    display: flex;
    height: calc(100% - 58px);

    .qo-main--left {
      width: 256px;
      background: rgba(0, 0, 0, 0.03);
      height: 100%;
      overflow-y: auto;
      padding: 16px;

      &-img {
        background: #FFFFFF;
        border-radius: 4px;
        padding: 8px 10px;
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        opacity: 0.8;
        cursor: pointer;
        display: flex;

        .icon {
          flex-basis: 35px;
        }

        .text {
          flex: 1;
          line-height: 25px;
        }
      }

      &-border {
        border: 1px solid #1E63F5;
      }
    }

    .qo-main--right {
      flex: 1;
      position: relative;
      text-align: center;
      position: relative;
      display: flex;
      /* Flex布局 */
      display: -webkit-flex;
      /* Safari */
      justify-content: center;
      align-items: center;

      /* 指定垂直居中 */
      img {
        max-width: 100%;
        max-height: 100%;
      }

      &-tool {
        position: absolute;
        bottom: 40px;
        left: 50%;
        margin-left: -161px;
        padding: 8px 18px;
        background: rgba(0, 0, 0, 0.8);
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
        border-radius: 32px;
        color: #fff;
        display: flex;

        .qo-main--side {
          border-right: 1px solid rgba(255, 255, 255, 0.3);
          padding-right: 18px;
        }

        .qo-main--page {
          padding: 0 0 0 25px;

          .iconfangxiang-qian-xian {
            padding-right: 9px;
          }

          .iconfangxiang-hou-xian {
            padding-left: 9px;
          }
        }

        .qo-main--zoom {
          padding: 0 35px 0 25px;

          .iconsuoxiao-xian {
            padding-right: 9px;
          }

          .iconfangda-xian {
            padding-left: 9px;
          }
        }

        .qo-main--rotate {
          border-right: 1px solid rgba(255, 255, 255, 0.3);
          padding-right: 26px;
        }

        .qo-main--download {
          padding: 0 34px 0 24px;
        }

        .qo-main--delete {}
      }

      &-tool__left {
        position: absolute;
        cursor: pointer;
        left: 56px;
        top: 50%;
        width: 48px;
        height: 48px;
        text-align: center;
        line-height: 48px;
        margin-top: -24px;
        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
        border-radius: 88px;

        .iconfont {
          color: #000000;
          opacity: 0.8;
        }
      }

      &-tool__left:hover {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
      }

      &-tool__right {
        position: absolute;
        cursor: pointer;
        right: 56px;
        width: 48px;
        height: 48px;
        top: 50%;
        text-align: center;
        line-height: 48px;
        margin-top: -24px;
        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
        border-radius: 88px;

        .iconfont {
          color: #000000;
          opacity: 0.8;
        }
      }

      &-tool__right:hover {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
      }
    }
  }

  .mp-pdf {
    width: 100%;
    margin: 0 auto;

    &__preview {
      padding: 8px;
      width: 100%;
    }
  }

  .mp-empty-state {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      width: 300px;
      height: 200px;
    }

    p {
      font-size: 16px;
      font-weight: 600;
      color: #000;
      opacity: 0.8;
      line-height: 22px;
    }

    p:last-child {
      font-size: 14px;
      font-weight: 400;
      opacity: 0.3;
      line-height: 32px;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: all 6s ease;
}

.fade-enter,
.fade-leave-to {
  /* .fade-leave-active below version 2.1.8 */
  opacity: 0;
}

.iconfont {
  cursor: pointer;
}